*{
    margin:0;
    padding: 0;
}

body{
    width: 100;
    background-size: auto 100vh;
}


@font-face{
    font-family: Playfair Display;
    src: url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet');
}

@font-face{
    font-family: Roboto;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
}

.img-container{
    width:  100%;
    height: 100vh;
    position: relative;
    background-image: url(banner/home-banner.png);
    background-size: cover;
}

.text{
    margin-top: 30px;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.text-banner{
    color:  white;
    top: 20%;
    text-align: center;
    width: 100%;
    position: absolute;

}

.menu{
    color: white;
}
.menu img{
    margin-top: 7px;
}

.menu li{
    list-style: none;
    margin: auto;
    margin-top: auto;
    font-weight: bolder;
    font-family: Roboto;
}

.menu ul{
    display: flex;
}

a{
    text-decoration: none;
    color: black;
}

.text-banner h1{
    font-size: 7em;
}

.text-banner  h2{
    font-size: large;
}
h3{
    font-size: 48px;
}

.font-1{
    font-family: serif;
    text-align: center;
}

.title-widget-bg {
    display: inline-block;
    height: 5px;
    width: 100px;
    background: #dddddd; 
    margin-bottom: 30px;
    margin-top: 30px;
}

.passeios{
   display: flex;
   text-align: center;
}

.hud-passeio{
    text-align: center;
    padding: 40px 20px;
    border: 1px solid #eeeeee;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

}

.hud-passeio:hover{
    border: 1px solid transparent;
    box-shadow: 0px 5px 50px rgba(129, 74, 255, 0.2);
}

.hud-passeio p{
   margin-top: 45px;
   margin-bottom: 85px;
   font-family: Roboto;
   height: 70px;
   width: 400px;
   font-size: 25px;
}

.hud-passeio h5{
    margin-top: 15px;
    font-family: Playfair Display;
    font-size: 32px;
}

.btn-saiba-mais{
    margin-top: 45px;
    margin-bottom: 60px;
    font-weight: bolder;
    font-family: Roboto;
    font-size: 22px;
}

.cta-area{
    width: 100%;
    height: auto;
    position: relative;
    background-size: cover;
    margin-top: 90px;


}

.cta-img{
    width: 100%;
    height: auto;
    position: absolute;
    top: -75px;
    text-align: right;

}

.cta-header{
    width: 40%;
    height: auto;
    position: absolute;
    top: 100px;
    margin-left: 160px;
    text-align: left;
    font-size: 36px;
}

.cta-text{
    width: 40%;
    height: auto;
    position: absolute;
    top: 200px;
    margin-left: 160px;
    text-align: justify;
    font-size: 20px;
}

.BUTTON_CCL {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    height: 26px;
    line-height: 26px;
    color: #FFFFFF;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 146px;
    font-size: 18px;
    font-weight: 600;
    padding: 18px;
    background-color: #000000;
    border: solid #000000 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease 0s;
}
    
.BUTTON_CCL:hover {
    background: #FFF098;
    border: solid #000000 1px;
    text-decoration: none;
    color: #000000;
    }
